body {
    background-color: #27273b;
    color: #bbf;
}

header {
    text-align: center;
}

main {
    background-color: blanchedalmond;
    width: 80%;
    max-width: 500px;
    margin: auto;
    line-height: 2rem;
}

fieldset {
    border: none;
}

button {
    /* Change display to block to apply margin to center align the button */
    display: block;
    margin: 1rem auto;
}