body {
    background: linear-gradient(#bcbceb,#ecc4c8,#cef0d1);
    color: #bbf;
}

header {
    text-align: center;
    color: #27273b;
}

main {
    background-color: #27273b;
    width: 80%;
    max-width: 500px;
    margin: auto;
    line-height: 2rem;
}

fieldset {
    border: none;
}

.block {
    display: block;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
}

button {
    /* Change display to block to apply margin to center align the button */
    display: block;
    margin: 1rem auto;
}